body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
#app {
  display: flex;
  flex-flow: column nowrap;
}
.col {
  display: flex;
  flex-flow: row nowrap;
  padding: 5px;
}
.col .name {
  width: 120px;
}
#main-frame {
  width: 100%;
  height: 100%;
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.dialog img {
  width: 70%;
  position: absolute;
  bottom: calc(100vh - 80vw);
}
